/* Typeface */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Lora:ital,wght@0,400..700;1,400..700&family=Oxanium:wght@200..800&family=Saira+Stencil+One&display=swap');

/* Ogólne i o nas */
html{
    min-height: 100%;
    position:relative;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', sans-serif;
    color: #F0F8FF;
    background: rgb(11, 7, 25);
    background: linear-gradient(180deg, rgba(11, 7, 25,1) 16%, rgba(77,71,163,1) 44%, rgba(108,134,206,1) 64%, rgba(2,237,171,1) 88%); 
}

.content {
    flex: 1;
  }

header {
    background-color: rgba(11, 7, 25,1);
    color: #8000FF;
    text-align: center;
    padding: 1em;
}

.title{
    font-family: "Saira Stencil One", sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin: 0.5em 0 0.75em 0;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

footer {
    background-color: rgba(2,237,171,1);
    color: #8000FF;
    text-align: center;
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 800;
    font-size: large;
}

nav a {
    color:  #a161e0;
    margin: 0 15px;
    text-decoration:wavy;
    font-weight:900;
    font-size: large;
}

main {
    padding: 20px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
    margin: 20px;
}

article{
    flex: 1;
    margin-right: 20px;
}

figure{
    display: flex;
    margin-top: 6%;
    justify-content:space-around;
    align-items: flex-start;
}

.named{
    position: relative;
    background-color: #0b0719; 
    color: #F0F8FF; 
    padding: 20px;
    display: inline-block;
    margin-top: 1.5rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.shifted-box {
    position: relative;
    background-color: #010b13; 
    color: #F0F8FF; 
    padding: 20px;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    /* filter: drop-shadow(#F0F8FF 15px 12px); To robi praktycznie co cały css poniżej, ale nie można dać box shadow na box z przodu oraz dowiedziałem się o tym za późno */
}

.shifted-box::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 100%;
    height: 100%;
    background-color: #F0F8FF; 
    border-radius: 2px;
    color: #F0F8FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

/* Galerii styling */
.gallery {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 1vh;
}

.gallery img {
    width: calc(32% - 10px);
    height: auto;
    padding: 1vh;
}

/* Responsywność */
@media (max-width: 600px) {
    .gallery img {
        width: calc(50% - 10px);
    }

    video {
        width: auto;
        height:auto;
    }
}

.video-container{
    margin-top: 5vh;
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}
.video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
/* Contact styling */


.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-field{
padding: 10px;
margin-bottom: 6px;
}
form {
    display: flex;
    flex-direction: column;
}
.form-field {
    margin-bottom: 15px; 
}


label {
    padding: 5px;
    font-weight: bold; 
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

.btn {
    font-family: "Oxanium", sans-serif;
    font-size: 2em; 
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

.btn:hover {
    font-family: "Oxanium", sans-serif;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.clock-face{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    gap: 2vh;
    height: 300px;
}
